.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 35vh;
    width: 100%;
  }
  
  .title {
    font-size: 7rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }
  
  .inputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .search {
    width: 50%;
  }
  
  .select {
    width: 50%;
  }
  @media (max-width: 999px) {
    .header {
      justify-content: space-evenly;
      height: 25vh;
    }
    .title {
      font-size: 5rem;
    }
    .search{
      width: 60%;
    }
  }
  @media (max-width: 599px) {
    
    .title {
      font-size: 3rem;
    }
    .search{
      width: 80%;
    }
  }
  